@import url('/assets/css/colors.css');

* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 36pt;
}

body {
    display: flex;
    background-color: var(--platinum);
}

.principal {
    position: fixed;
    top: 0;
    left: 25%;
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

#nuevo-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.new-chat-button {
    background-color: var(--blue-bell);
    border: 0;
    padding: 5% 15%;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s;
}

.new-chat-button:hover {
    background-color: var(--soap);
}

.principal > img {
    min-width: 200px;
    width: 25%;
    text-align: center;
}

.principal > p, .principal > h1 {
    min-width: 320px;
    width: 40%;
    text-align: center;
}

.bold {
    font-weight: 700;
}

.contactos {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 25%;
}

.chat {
    cursor: pointer;
    padding: 2% 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    height: 100px;
    border-top: 1px solid var(--pale-lavender);
    transition: background-color 0.5s;
}

.chat:hover {
    background-color: var(--pale-lavender);
}

.chat-photo {
    width: 18%;
    border-radius: 50%;
    border: 2px solid var(--pale-lavender);
    margin-left: 10%;
}

.chat-information {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 82%;
    margin-right: 10%;
}

.chat-information > p {
    font-size: small;
}

.chat-perfil-photo {
    border-radius: 50%;
    height: 80%;
    padding: 0 15%;
}

#perfil {
    width: 100%;
    background-color: var(--blue-bell);
    display: flex;
    justify-content: center;
    gap: 10%;
    color: var(--white);
    height: 120px;
}

.iconos {
    display: flex;
    width: 40%;
    height: auto;
    gap: 40%;
    align-items: center;
}

.iconos > i {
    cursor: pointer;
}

.perfil-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
